#Wishlist {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

#container-fluid {
    margin-top: 80px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    justify-content: center;

}

.wishlist-card {
    border: 4px solid darkgray;
    border-radius: 15px;
    margin: 0 auto;
    cursor: pointer;
    height: 200px;
    width: 100%;
}

.wishlist-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
}

.wishlist-card:hover {
    transition-duration: 0.8s;
    transform: scale(1.05);
}

.decrement {
    background-color: transparent;
    border: none;
    overflow: hidden;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    top: -30%;
    right: -80%;
    z-index: 50;
}

.decrement:hover {
    transition-duration: 0.8s;
    transform: scale(1.2);
}

#Empty {
    align-items: center;
    justify-content: center;
    width: 1000px;
    text-align: center;
    margin: 20px 400px;
    color: white;
    font-weight: bold;
    font-size: 45px;
    letter-spacing: 6px;
}

@media (max-width: 1350px) {
    #container-fluid {
        display: grid;
        width: 100%;
        height: 100%;
    }

    .wishlist-card {
        height: 200px;
    }

}

@media (max-width: 950px) {
    #container-fluid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 730px) {
    #container-fluid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .decrement {
        top: -50%;
        right: -70%;
        width: 45px;
        height: 45px;
    }


}


@media (max-width: 600px) {
    #Wishlist {
        display: flex;
        flex-wrap: wrap;
    }

    #container-fluid {
        display: flex;
        flex-wrap: wrap;
        min-height: 400px;
    }

    .wishlist-card {
        width: 50%;
        height: 100px;
    }

}