#footer {
    background-image: linear-gradient(to right, rgb(19, 20, 26), rgb(24, 25, 36));
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#footer img {
    height: 50px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    display: block;
}

#texts{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.item-footer{
    display: flex;
    color: white;
    width: 500px;
    margin: auto;
    flex-wrap: wrap;
}

#texts p {
    margin: auto;
}

@media (max-width: 510px){
    #footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 400px;
    }
    .item-footer{
        width: 100%;
        gap: 10px;
    }
    #texts p{
        display: flex;
        flex-wrap: wrap;
    }
}
