#navbar {
    justify-content: space-between;
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(22, 22, 26), rgb(18, 21, 65));
    position: fixed;
    z-index: 1000;
    height: 65px;
}

.Logo {
    height: 85%;
    width: 5%;
    margin-left: 20px;
    cursor: pointer;
}

.Logo img {
    width: 100%;
    height: 100%;
}

/* Itens */

.menu {
    display: none;
}

#itens {
    display: flex;
    width: 95%;
    gap: 50px;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;

}

.item {
    color: white;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1.42px;
    text-align: center;
    align-items: center;
    display: flex;
    gap: 10px;

}

.item a {
    color: white;
    text-decoration: none;
}

.item span {
    margin-left: 10px;
}

.item span:hover {
    border-bottom: 3px solid white;
}

.item img {
    width: 25px;
    cursor: pointer;
    background-color: transparent;
}

/* PERFIL */

#changeperfil {
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    cursor: pointer;
    justify-content: center;
    padding: 5px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

#username {
    font-weight: bold;
    letter-spacing: 1.42px;
    font-size: 1.0em;
}

#change {
    height: 60px;
    width: 60px;
    background: gray;
    border-radius: 50px;
    background-image: url('../imgs/dr.png');
    background-size: cover;
}

#perfil_list{
    display: none ;
}

#changeperfil .perfil_list {
    display: grid;
    grid-template-columns: 1fr;
    background-image: linear-gradient(to right, rgb(22, 22, 26), rgb(18, 21, 65));
    align-items: center;
    width: 100%;
    height: 350px;
    justify-content: center;
    list-style: none;
    font-size: 18px;
}

#changeperfil .perfil_list a{
    color: white;
    text-decoration: none;
}

.perfil_list a:hover{
    border-bottom: 2px solid white;
}

@media (max-width: 1400px) {
    #navbar {
        width: 100%;
    }

    .item span {
        display: none;
    }

    .item:hover {
        transition: 1s;
        transform: scale(1.3);
        border-bottom: 1px solid white;
    }

    #changeperfil {
        width: 15%;
    }

    #change {
        height: 50px;
        width: 50px;
        margin: 0;
    }
}

@media (max-width: 1200px) {
    .Logo {
        display: none;
    }
}

@media (max-width: 840px) {
    .Logo {
        display: none;
    }

    #itens {
        width: 100%;

    }

    #changeperfil {
        width: 10%;
    }

    #username {
        display: none;
    }
}

@media (max-width: 600px) {
    #navbar {
        display: block;
        min-height: 45px;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #itens {
        display: none;
    }

    #changeperfil {
        display: none;

    }

    .hamburguer {
        width: 30px;
        height: 30px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: fixed;
        margin: 8px;
        z-index: 10000;
        cursor: pointer;
    }

    .line {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: white;
    }

    .nav-menu .menu {
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
        list-style-type: none;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1000;
        font-weight: bold;
        font-size: 2rem;
        background-image: linear-gradient(to right, rgba(34, 35, 41), rgba(25, 27, 58));
    }

    .nav-item {
        justify-content: center;
        align-items: center;
        margin: 10% auto;
    }

    .nav-item a {
        display: block;
        width: 50%;
        margin: 25px auto;
        color: white;
        text-decoration: none;
    }

}