#Carousel {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    width: 100%;
    position: relative;
    height: 410px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.image {
    height: 100%;
    margin: 20px;
    border-radius: 20px;
    background-size: cover;
}

.container-dots {
    z-index: 5;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    gap: 10px;
}

.dots {
    background-color: white;
    height: 12px;
    width: 12px;
    cursor: pointer;
    border-radius: 15px;
    z-index: auto;
}

#dot-active {
    background-color: orange;
}

.right-arrow {
    position: absolute;
    top: 43%;
    right: 15%;
    font-size: 4rem;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 10;

}

.left-arrow {
    position: absolute;
    top: 43%;
    left: 15%;
    font-size: 4rem;
    color: white;
    cursor: pointer;
    user-select: none;
    z-index: 10
}

.slide {
    opacity: 0;
    transition-duration: 1s;
}

.slide-active {
    opacity: 1;
    transition-duration: 2s;
    transform: scale(1.1);
    border-radius: 20px;
}

@media (max-width: 987px) {
    #Carousel {
        height: 300px;
    }

    .slide-active {
        transform: scale(0.7);
    }

}

@media (max-width: 600px) {
    #Carousel {
        height: 200px;
    }

    .slide-active {
        transform: scale(0.5);
    }

    .right-arrow {
        top: 35%;
    }

    .left-arrow {
        top: 35%;
    }

}