#Footer {
    background-image: linear-gradient(to right, rgb(19, 20, 26), rgb(24, 25, 36));
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
#Footer-image {
    width: 100px;
    margin: 20px auto;
    height: 7%;
}

#Footer-image img {
    width: 100%;

}

.texts {
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 600px;
}

@media (max-width: 985px) {
    #Footer {
        display: flex;
        flex-wrap: wrap;
    }

    .texts {
        display: flex;
        flex-wrap: wrap;
    }
}
