#Movies{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin: auto;

}

.movie-card{
    border: 4px solid gray;
    border-radius: 15px;
    margin: 0 auto;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.movie-card:hover{
    transition-duration: 0.8s;
    transform: scale(1.1);
}

.movie-card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;
}

